/*
.body-pane {
    -fx-background-color: #40444b;
}
*/

.messageView{
    -fx-background-color: #40444b;
}

.messageView .text-area{
    -fx-font-family: "Whitney";
    -fx-text-fill: #ffffff;
    -fx-display-caret:false;
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.messageView .text-area .content{
    -fx-background-color: #40444b;
    -fx-background-radius: 0 ;
}


.messageView .time{
    -fx-font-size: 9;
}

.messageView .name{
    -fx-font-size: 12;
}

.messageView .body {
    -fx-font-size: 13;
}


.messageView .text-area > .scroll-pane{
    -fx-vbar-policy:never;
    -fx-focus-color: transparent;
}

.messageWindow {
    -fx-background-color: #40444b;
}

.messageCreate {
    -fx-background-color: #40444b;
    -fx-border-radius: 0;
    -fx-border-width: 2;
    -fx-border-color: #494d55;
}



.messageCreate .text-area .content{
    -fx-background-color: #40444b;
    -fx-background-radius: 0 ;
}

.messageCreate .message.text-area {
    -fx-background-color: #585e68;
    -fx-border-radius: 2;
    -fx-border-width: 2;
    -fx-border-color: #40444b;
    -fx-text-inner-color: white;
}

.messageCreate .button {
    -fx-background-radius: 5em;
    -fx-background-color: #40444b;
}


.login {
    -fx-background-color: #2a2d31;
}

.login .text-field {
    -fx-font: 10px "Whitney";
    -fx-text-fill: "white";
    -fx-background-color: #646b75;
}

.login .button {
    -fx-background-color: #7289da;
    -fx-font: 10px "Whitney";
    -fx-text-fill: "white";
}

/*
#messageCreate {
    -fx-background-color: #585e68;
    -fx-border-radius: 2;
    -fx-border-width: 2;
    -fx-border-color: #40444b;
    -fx-text-inner-color: white;

}

#messageCreatePane{
    -fx-background-color: #40444b;
    -fx-border-radius: 5;
    -fx-border-width:5;
    -fx-border-color: #40444b;
}

#roundAttachmenButton{
    -fx-background-radius: 5em;
    -fx-background-color: #40444b;

}


#messaveViewBackround {
}

#timeFormat {
    -fx-background-color: #40444b;
    -fx-text-inner-color: white;
}

.text-area .content{
    -fx-background-color: #40444b;
    -fx-background-radius: 0 ;
}


.text-area{
    -fx-font-family: "Whitney";
    -fx-font-size: 13;
    -fx-text-fill: #ffffff;
    -fx-display-caret:false;
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
} 

.text-field:focused {
    -fx-focus-color: transparent;
    -fx-text-box-border: transparent;
    -fx-faint-focus-color: transparent;
}

.text-area > .scroll-pane{
    -fx-vbar-policy:never;
    -fx-focus-color: transparent;
}
*/


#PeopleOnlineViewer{
    -fx-background-color: #32363d;
    -fx-border-radius: 5;
    -fx-border-width:5;
    -fx-border-color: #32363d;
}

.root {
    -fx-background-color: #40444b;
}

#headerButtons {
    -fx-background-color: #40444b;
    -fx-background-radius: 50;
    -fx-padding: 0;
}

#search {
    -fx-text-fill: #40444b;
    -fx-background-color: #262626;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

.scroll-pane{
    -fx-background-color: #40444b;
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

#profileImg {
    -fx-background-radius: 20;
}

#logOut {
    -fx-text-fill: white;
    -fx-background-color: #f02626;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}
