.root {
 -fx-background-color:  linear-gradient(lightgray, gray);
 -fx-border-color: white;
 -fx-border-radius: 20;
 -fx-padding: 10 10 10 10;
 -fx-background-radius: 20;

}

.bp {
 -fx-background-color:  linear-gradient(gray,DimGrey );

}

.btnLogin {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-background-color: linear-gradient(orange, orangered );
}
.text {
 -fx-fill:  linear-gradient(orange , orangered);
}





/*

.root{
    -fx-background-color: #40444b;
    -fx-font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: #828282;
}
.label{
    -fx-background-color: white;
    -fx-font-size: 25px;
    -fx-font-family: "Adobe Devanagari";
}

.button:hover {
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

.button:pressed{
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-rotate: 3;
}

.button{
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
*/




